// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}
.aligncenter {
  display: block;
  height: auto;
}
.alignleft,
.alignright {
  height: auto;
}

// Captions
.wp-caption {
}
.wp-caption-text {
}

// Text meant only for screen readers
.screen-reader-text {
}
